@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap");
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em rgba(100, 108, 255, 0.6666666667));
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em rgba(97, 218, 251, 0.6666666667));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

* {
  font-family: "Epilogue", Courier, monospace;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  font-weight: 300;
  line-height: 1.3;
}

.page-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(107, 107, 107);
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column--center {
  align-items: center;
}
.flex-column--left {
  align-items: baseline;
}

.flex-row {
  display: flex;
  align-items: center;
}

.button {
  height: 35px;
}

.grid {
  display: grid;
}

.card {
  background-color: white;
}

.nav-bar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: fixed;
}
.nav-bar--visible {
  opacity: 1;
  transform: translateY(0);
}
.nav-bar--hidden {
  opacity: 0;
  transform: translateY(-100%);
}

.about {
  margin-top: 100px;
  width: 70%;
}

.welcome-card {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
}
.welcome-card--bio {
  width: 100%;
  overflow-wrap: break-word;
  text-align: left;
}
.welcome-card--text-ctn {
  width: 350px;
  position: relative;
  z-index: 2;
}

.random-image--ctn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.random-image--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  filter: brightness(0.5);
}
.random-image--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(253, 253, 253, 0.823);
}

.projects--card {
  margin-top: 50px;
  width: 100%;
  padding: 20px;
}
.projects--grid {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  height: 100%;
  width: 100%;
}
.projects--grid-item {
  width: 100%;
}
.projects--grid-item--ctn {
  gap: 5px;
}
.projects--grid-item--image {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.projects--grid-item--image--error {
  background-color: rgb(107, 107, 107);
  width: 100%;
  aspect-ratio: 1/1;
}
.projects--grid-item--art-type {
  font-weight: bold;
}

.test {
  height: 50px;
  width: 60px;
  background-color: yellow;
}

.form label {
  color: blue;
  display: block;
}
.form--row {
  gap: 20px;
}
.form--group {
  flex: 1;
}
.form--group input, .form--group select, .form--group textarea {
  width: 100%;
}

.project {
  width: 80%;
  margin: 0 auto 0 auto;
  padding: 20px;
}
.project--header-ctn {
  grid-template-columns: 1fr 1fr;
}
.project--description {
  width: 100%;
  overflow-wrap: break-word;
  text-align: left;
}
.project--picture {
  width: 100%;
  height: auto;
}
.project--description, .project--credit-line {
  text-align: justify;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

* Crea {
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */