@import "reset";
@import "colors";
@import "typography";

$color-bg-grey: rgb(107, 107, 107);

.page-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: $color-bg-grey;
}

.flex-column {
  display: flex;
  flex-direction: column;

  &--center {
    align-items: center;
  }

  &--left {
    align-items: baseline;
  }
}

.flex-row {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
}

.card {
  background-color: white;
}

.button {
  background-color: black;
  color: white;
  width: 80px;
  height: 35px;
  border: none;
}

.nav-bar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: fixed;
  z-index: 10;
  justify-content: center;

  &--visible {
    opacity: 1;
    transform: translateY(0);
  }

  &--hidden {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.about {
  margin-top: 100px;
  width: 100%;
}

.welcome-card {
  position: relative;
  overflow: hidden;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;

  &--bio {
    width: 100%;
    overflow-wrap: break-word;
    text-align: left;
  }
  &--text-ctn {
    width: 350px;
    position: relative;
    z-index: 2;
  }
}

.random-image {
  &--ctn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: brightness(0.5);
  }

  &--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(253, 253, 253, 0.823);
  }
}

.projects {
  &--header-ctn {
    gap: 20px;
  }

  &--gallery-title {
    display: table;
    margin: 30px auto 30px auto;
  }

  &--card {
    margin-top: 50px;
    width: 100%;
    padding: 30px;
  }

  &--grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    height: 100%;
    width: 100%;
  }

  &--grid-item {
    width: 100%;

    &--ctn {
      gap: 5px;
    }

    &--image {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      display: block;
    }

    &--image--error {
      background-color: $color-bg-grey;
      width: 100%;
      aspect-ratio: 1 / 1;
    }

    &--art-type {
      font-weight: bold;
    }

    &--art-artist {
      font-weight: 200;
    }
  }
}

.form {
  margin-bottom: 30px;

  & label {
    display: block;
  }

  &--row {
    gap: 20px;
  }

  &--group {
    flex: 1;
  }

  &--group input,
  &--group select,
  &--group textarea {
    width: 100%;
  }

  &--margin-bottom-20 {
    margin-bottom: 20px;
  }
}

.project {
  width: 80%;
  margin: 0 auto 0 auto;

  padding: 20px;

  &--header-ctn {
    grid-template-columns: 1fr 1fr;
  }

  &--description {
    width: 100%;
    overflow-wrap: break-word;
    text-align: left;
  }

  &--picture {
    width: 100%;
    height: auto;
  }

  &--description,
  &--credit-line {
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}
